$primary: #264653;
$secondary: #2a9d8f;
$accent: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$dark: #333;
$light: snow;

$xs-space: 4px;
$sm-space: 8px;
$md-space: 16px;
$lg-space: 24px;
$xl-space: 48px;

$sm-font: 13px;
$md-font: 16px;
$lg-font: 21px;
$xl-font: 30px;

$transition: 150ms ease-in-out;
